html {
  scroll-behavior: smooth;
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  min-height: 200px;
}

.card {
  transition: transform ease-in-out 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
#projects {
  max-width: 700px;
  margin: auto;
}

@media screen and (max-width : 315px) {
  #landing img {
    width: 200px;
    height: 200px;
  }
}

h4.skill{
  transition: all ease-in-out 1s;

}

h4.skill1:hover {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4.skill2:hover {
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4.skill3:hover {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4.skill4:hover {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}