:root {
	--gradient-heading: #13b0f5, #e70faa;
	--solid-heading: #42446e;
}
.title-style {
	font-family: 'Poppins';
	color: var(--solid-heading);
	font-style: normal;
	font-weight: bold;
	line-height: 70px; /* 120.69% */
	letter-spacing: -1px;
}

html {
	scroll-behavior: smooth;
}
#landing {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.landing-heading {
	font-size: clamp(20px, 5vw, 70px);
}
.name-heading {
	background: linear-gradient(45deg, var(--gradient-heading));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.hero-img {
	/* #E70FAA, #00C0FD */
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover;
	border: 8px solid;
	border-image-slice: 1;
	/* border-image-source: linear-gradient(45deg, #E70FAA, #00C0FD); */
}
.card-img-top {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.card-body {
	min-height: 200px;
}

.card {
	transition: transform ease-in-out 0.3s;
}
.card-title {
	color: #000;
	font-family: Poppins;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 92.857% */
}
.card-text {
	color: #666;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 26px; /* 144.444% */
}

.card:hover {
	transform: scale(1.1);
}

#projects {
	margin: auto;
}
.tech-stack {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 50px;
}
.tech-logo-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tech-logo-img {
	width: 80px;
	height: 80px;
}
.tech-stack-title {
}
.tech-stack-paragraph {
	color: var(--dark-content, #666);
	text-align: center;
	font-family: 'Poppins';
	font-size: clamp(16px, 5vw, 20px);
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 81.25% */
}
.tech-stack-span {
  color: var(--Solid-Heading, #42446E);
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

@keyframes sayHello {
	
}
